/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap');
/* import Bootstrap icons */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css');

/* Resets and Utilities */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  z-index: 0;
}

html,
body {
  font-family: 'EB Garamond', sans-serif;
  line-height: 1.4;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--first-color);
  transition: color 0.4s ease;
}

ul {
  list-style: none;
}

.bg-color {
  background-color: var(--first-color);
}

.container {
  padding: 2rem 2rem 3rem;
  position: relative;
  height: 100%;
}

.heading {
  color: var(--fifth-color);
  font-style: italic;
  padding-bottom: 0.8rem;
  letter-spacing: 1px;
}

.heading + p {
  padding-bottom: 0.8rem;
}

.hidden {
  display: none;
}

/* Colors */
:root {
  --first-color: #e0e2db;
  --second-color: #d2d4c8;
  --third-color: #b8bdb5;
  --fourth-color: #889696;
  --fifth-color: #5f7470;
  --test-color-1: #ddc650;
}

/* --------- Header Section --------- */
header {
  height: 42rem;
  color: white;
}

.showcase {
  left: 25%;
  transform: translateX(-25%);
  width: 200%;
  height: 42rem;
  background: url(img/hero.jpeg) no-repeat center center / cover;
}

.showcase:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    transparent,
    transparent,
    transparent,
    transparent,
    var(--fifth-color)
  );
}

/* Nav Bar */
.nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 2;
  background-color: rgba(136, 150, 150, 0.4);
  transition: all 0.5s ease;
  top: 0;
}

.site-name {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.site-name:hover {
  text-shadow: 0px 0px 0px var(--fifth-color);
}

/* Desktop Menu */
.desktop-menu {
  display: none;
}

/* Mobile Menu Button */
.toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  opacity: 0;
}

.menu-btn {
  z-index: 1;
  width: 1.8rem;
  display: flex;
  align-items: center;
}

.menu-btn > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.5s ease;
}

.menu-btn > div:before,
.menu-btn > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -8px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-btn > div:after {
  top: 8px;
}

.toggler:checked + .menu-btn > div {
  transform: rotate(135deg);
}

.toggler:checked + .menu-btn > div:before,
.toggler:checked + .menu-btn > div:after {
  top: 0;
  transform: rotate(90deg);
}

.toggler:checked:hover + .menu-btn > div {
  transform: rotate(225deg);
}

.toggler:hover + .menu-btn > div,
.toggler:checked:hover + .menu-btn > div {
  background-color: var(--first-color);
}

/* Mobile Menu */
.mobile-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-transform: uppercase;
}

.mb-menu-overlay {
  background: rgba(95, 116, 112, 0.9);
  border-radius: 50%;
  width: 100rem;
  height: 100rem;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.mb-menu-links-wrap {
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  color: white;
}

.mb-menu-links-wrap li {
  font-size: 1.3rem;
  padding: 2rem 6rem;
  letter-spacing: 1px;
}

.mb-menu-links-wrap li:hover {
  color: var(--first-color);
  transition: color 0.4s ease;
}

.mb-menu-links-wrap li:active {
  background: rgba(95, 116, 112, 0.8);
}

/* Content */
main {
  padding-top: 31rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42rem;
}

.content {
  text-align: center;
  width: 100%;
}

.headline {
  font-style: italic;
  text-shadow: 1px 1px 3px var(--fifth-color);
}

.info {
  font-weight: normal;
  padding: 0.8rem 0;
  letter-spacing: 1px;
}

.bi {
  padding: 1rem;
  font-size: 1.5rem;
}

/* --------- Services Section --------- */
.services-list {
  display: flex;
  flex-direction: column;
}

.service {
  position: relative;
  padding-bottom: 1rem;
}

.service-img {
  border-radius: 10px;
}

.service-img-1 {
  background: url(img/pexels-georgia-maciel-2168821.jpeg) no-repeat center center / cover;
}
.service-img-2 {
  background: url(img/bonnie-kittle--f7bKsvOgwU-unsplash.jpg) no-repeat center center / cover;
}
.service-img-3 {
  background: url(img/caleb-jones-rpPvrOQmR2s-unsplash.jpg) no-repeat center center / cover;
}

.service-description {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10rem 0 0.8rem;
  color: white;
  width: 100%;
  text-align: center;
  background: linear-gradient(
    transparent,
    transparent,
    transparent,
    transparent,
    rgba(136, 150, 150, 0.9)
  );
  border-radius: 10px;
}

.gallery-btn {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 0 0.8rem;
  border: 1px solid var(--fifth-color);
  color: var(--fifth-color);
  border-radius: 10px;
}

.gallery-btn:hover {
  color: var(--third-color);
  border: 1px solid var(--third-color);
  transition: all 0.4s ease;
}

/* --------- About Section --------- */
.portrait {
  background: url(img/liz.jpg) no-repeat center center / cover;
  width: 20rem;
  height: 15rem;
  border-radius: 50%;
  margin: 0 auto 1rem;
  position: relative;
}

.pc {
  text-align: center;
  color: var(--third-color);
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: 0;
  margin-bottom: -1.5rem;
}

.pc a:hover {
  color: var(--fourth-color);
}

/* --------- Testimonials Section --------- */
.testimonial {
  padding: 1rem;
  margin-bottom: 0.8rem;
  background-color: var(--first-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonial > p {
  padding: 1rem 0 0.5rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.test-img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

#test-img-1 {
  background: url(img/hero.jpeg) no-repeat center center / cover;
}

#test-img-2 {
  background: url(img/photographer.jpeg) no-repeat center center / cover;
}

#test-img-3 {
  background: url(img/portrait.jpg) no-repeat center center / cover;
}

/* --------- Contact Section --------- */
form .padding {
  padding-bottom: 0.8rem;
}

.form-group {
  padding-bottom: 1rem;
  width: 100%;
}

label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 0.4rem;
}

input,
textarea {
  padding: 0.5rem 0.5rem;
  font-family: 'EB Garamond', sans-serif;
  font-size: 1rem;
  width: 100%;
  color: var(--fifth-color);
  border: 1px solid var(--fourth-color);
  border-radius: 10px;
}

input:focus,
textarea:focus {
  border-color: var(--third-color);
}

textarea {
  height: 10rem;
  width: 100%;
  resize: none;
}

.submit-btn {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 0 0.8rem;
  border: 1px solid var(--fifth-color);
  color: var(--fifth-color);
  border-radius: 10px;
  background-color: white;
  margin-top: 1rem;
  width: 100%;
  font-family: 'EB Garamond', sans-serif;
  font-size: 1rem;
}

.submit-btn:hover {
  color: var(--third-color);
  border: 1px solid var(--third-color);
  transition: all 0.4s ease;
}

.thank-you {
  display: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 0 0.8rem;
  border: 1px solid var(--third-color);
  color: var(--third-color);
  border-radius: 10px;
  background-color: white;
  margin-top: 1rem;
  width: 100%;
  font-family: 'EB Garamond', sans-serif;
  font-size: 1rem;
}

/* --------- Footer Section --------- */
footer {
  color: white;
  background-color: var(--fifth-color);
  text-align: center;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;
}
